@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --border-premium: #f3de22;
        --business: #13ad72;
        --zero: #11c589;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        min-width: 21rem;
        margin: 1rem; /* without scaling */
        padding: 1em;
        border-radius: 1.5rem;
        display: inline-block;
        vertical-align: top;
    }
}

@layer components {
.card--marketer {
    border: 2px solid var(--border);
}

    .card--marketer .figure__name {
        color: var(--secondary);
        font-weight: bolder;
        font-size: 2em;
    }

    .card--marketer .figure__important {
        color: var(--primary);
        font-weight: 800;
    }

    .card--marketer .figure__main__monthly {
        margin-bottom: 0;
    }

    .card--marketer .figure__main__price {
        font-weight: 750;
        font-size: 2em;
        color: var(--primary);
    }

    .card--marketer .figure__main__smaller {
        font-size: 0.8em;
        margin-top: 0.5rem;
    }

    .card--marketer .figure__main__smaller__info {
        color: var(--primary);
        font-weight: 700;
    }

    .button {
        display: block;
        text-align: center;
        padding: 1em 2em;
        border-radius: 0.5rem;
        padding: 1em 2em;
        border-radius: 0.5rem;
    }

    .card--marketer .button--more{
        text-decoration: none;
        color: white;
        background-color: var(--primary);
    }
        .card--marketer .button--more:hover{
        background-color: rgb(47, 133, 114);
    }

    .card--marketer .figure__list {
        line-height: 2.25rem;
        padding-left: 25px;
        margin-bottom: 8rem;
    }

    .card--marketer .figure__list__check {
        list-style-image: url(../images/check.svg);
        padding-left: 0.5rem;
    }

    .card--marketer .figure__list__cross {
        list-style-image: url(../images/cross.svg);
        padding-left: 0.5rem;
    }

.card--premium {
    border: 2px solid #d3d3d3;
    padding: 0;
    overflow: hidden;
    min-width: 23rem;

}

    .card--premium .figure__header {
        border-top: 5px solid var(--border-premium);
        background: linear-gradient(135deg, #3477c4, #9d4bbd);
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .card--premium .figure__name {
        color: #ffff;
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 0.1em;
        font-weight: 750;
        margin-top: 3.5rem;
        margin-bottom: 0;
    }

    .card--premium .figure__info {
        color: #ffff;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0;
    }

    .card--premium .figure__main__smaller {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.25rem 3rem;
        padding: 0.65em 0.5em;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: #bcbebe73;
        border-radius: 50rem
    }
        .card--premium .figure__main__smaller:hover {
            background-color: #f1f1f14f
    }

    .card--premium .figure__main {
        padding: 2rem;
    }

    .card--premium .figure__params--top {
    color: #000000;
    font-size: 1rem;
    padding-bottom: 1em;
    border-bottom: 1px solid #bbbbbbbe
    }
    .card--premium .figure__params--bottom {
    color: #000000;
    font-size: 1.10rem;
    }

    .card--premium .figure__footer {
        padding: 0rem 2rem;
        margin-bottom: 7rem;
    }

    .card--premium .button--more {
        font-size: 1.25rem;
        font-weight: 600;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: linear-gradient(135deg, #3477c4, #9d4bbd);
        border-radius: 1rem ;
        padding: 0.8em 1em;
    }

    .card--premium .button--more:hover {
    background: linear-gradient(135deg, #5486be, #9664aa);
    }

.card--business {
    border: 3px solid var(--business);
    padding: 0;
    overflow: hidden;
    min-width: 23rem;
}

    .card--business .figure__name {
        color: var(--business);
        text-align: center;
        font-size: 2.5em;
        font-weight: 750;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .card--business .figure__info {
        color: var(--text);
        text-align: center;
        font-size: 1.15rem;
        font-weight: 350;
        margin-bottom: 0;
        
    }

    .card--business .figure__main {
        margin-top: 2.5rem;
        background: linear-gradient(135deg, #4ee7ad, #12a36c);
        border-top: 3px solid var(--business)
    }

    .card--business .figure__main__price {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: #ffff;
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .card--business .fiigure__main__monthly {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        margin-top: 0.5rem;
        padding-bottom: 2rem;
    }

    .card--business .figure__footer {
        margin-bottom: 12rem;
    }

    .card--business .figure__footer__info {
        text-align: center;
        margin-top: 2.5rem;
        font-style: italic;
        font-weight: 350;
        margin-bottom: 0;
    }

    .card--business .button--more {
        font-size: 1.25rem;
        font-weight: 600;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: linear-gradient(135deg, #4ee7ad, #12a36c);
        border-radius: 50rem;
        margin: 2.5rem;
        margin-top: 1.75rem;
        padding: 0.75em;
    }
    .card--business .button--more:hover {
        background: linear-gradient(135deg, #6cc9a5, #40a17c);
    }

.card--zero {
    margin: 1em;
    padding: 0;
    background: linear-gradient(45deg, #303035, #181b27);
    max-width: 23.15rem;
}
    .card--zero .figure__header {
        text-align: center;
        margin-top: 2.5rem;
        padding-bottom: 3rem;
        border-bottom: 3px solid #585858;
    }

    .card--zero .figure__name {
        font-size: 2.25rem;
        font-weight: 250;
        color:#a3a3a3;
        margin: 0;
    }

    .card--zero .figure__info {
        font-size: 1rem;
        font-weight: 350;
        color:#757575;
        padding-top: 1em;
        margin: 0;
    }
    .card--zero .figure__main {
        padding: 2rem
    }
    .card--zero .figure__main__price {
        margin-top: 2rem;
        margin-bottom: 6rem;
        color: var(--zero);
        font-size: 4.5rem;
        font-weight: 250;
        letter-spacing: 0.1;
        text-align: center;
         text-shadow: 0 0 25px rgba(0, 255, 150, 0.8);
    }
        .card--zero .figure__main__price:hover {
         text-shadow: 0 0 50px rgba(0, 255, 150, 1);
    }

    .card--zero .figure__params {
        color: #e2e2e2;
        line-height: 1.5;
    }

    .card-zero .figure__footer {
        padding-bottom: 2rem;
    }

    .card--zero .button--more {
        margin: 0 2rem 2rem;
        padding: 1em 4em;
        border: 3px solid var(--zero);
        text-decoration: none;
        color: var(--zero);
        font-weight: 750;
    }
        .card--zero .button--more:hover {
        text-shadow: 0 0 25px rgba(0, 255, 150, 0.8);
        box-shadow: 0 0 15px rgba(0, 255, 150, 0.4);
    }

.card--profi {
    overflow: hidden;
    margin: 1em;
    padding: 0rem;
    border: 2px solid #d3d3d3;
    width: 23.15rem;
}
    .card--profi .figure__header {
        background-color: #fdf4ea;
        text-align: center;
        padding-bottom: 3.5rem;
    }

    .card--profi .figure__name {
        display: inline-block;
        margin: 0;
        margin-top: 3rem;
        padding: 0.75rem 1rem;
        border-radius: 50rem;
        color: #c2410c;
        background-color: #fed7aa;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 0.05rem;
    }
    
    .card--profi .figure__info {
        margin: 0;
        margin-top: 0.85rem;
        padding: 0.75rem 1rem;
        font-weight: 700;
        font-size: 2.5rem;
        color: #1f1f1f;
    }

    .card--profi .figure__price {
        display: inline-block;
        margin: 0;
        margin-top: 1rem;
        padding: 1.75rem 3rem;
        border-radius: 1rem;
        color: #ffffff;
        background-color: #f46a13;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.05rem;
    }
    .card--profi .figure__price:hover {
    background-color: #d66016;
    }

    .card--profi .figure__list__check {
        list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M2 9 L6 13 L14 5" stroke="orange" stroke-width="2" fill="none"/></svg>');
    }

    .card--profi .figure__main {
        padding: 1rem;
    }

    .card--profi .figure__list{
        margin-top: 2rem;
    }

    .card--profi .figure__list__check {
        line-height: 3rem;
        color: #202020;
        font-size: 1.15rem;
    }

    .card--profi .figure__footer {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 4rem;
    }

    .card--profi .button--more {
        padding: 1rem 6rem;
        color: #f56a13;
        text-decoration: none;
        font-weight: 750;
        border: 3px solid #f66e14;
        border-radius: 0.7rem;
    }
    .card--profi .button--more:hover {
        background-color: #f0f0f0
    }
};








