@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --border-premium: #f3de22;
        --business: #13ad72;
        --zero: #11c589;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        min-width: 21rem;
        margin: 1rem; /* without scaling */
        padding: 1em;
        border-radius: 1.5rem;
        display: inline-block;
        vertical-align: top;
    }
}

@layer components {
.card--marketer {
    border: 2px solid var(--border);
}

    .card--marketer .figure__name {
        color: var(--secondary);
        font-weight: bolder;
        font-size: 2em;
    }

    .card--marketer .figure__important {
        color: var(--primary);
        font-weight: 800;
    }

    .card--marketer .figure__main__monthly {
        margin-bottom: 0;
    }

    .card--marketer .figure__main__price {
        font-weight: 750;
        font-size: 2em;
        color: var(--primary);
    }

    .card--marketer .figure__main__smaller {
        font-size: 0.8em;
        margin-top: 0.5rem;
    }

    .card--marketer .figure__main__smaller__info {
        color: var(--primary);
        font-weight: 700;
    }

    .button {
        display: block;
        text-align: center;
        padding: 1em 2em;
        border-radius: 0.5rem;
        padding: 1em 2em;
        border-radius: 0.5rem;
    }

    .card--marketer .button--more{
        text-decoration: none;
        color: white;
        background-color: var(--primary);
    }
        .card--marketer .button--more:hover{
        background-color: rgb(47, 133, 114);
    }

    .card--marketer .figure__list {
        line-height: 2.25rem;
        padding-left: 25px;
        margin-bottom: 8rem;
    }

    .card--marketer .figure__list__check {
        list-style-image: url(../images/check.svg);
        padding-left: 0.5rem;
    }

    .card--marketer .figure__list__cross {
        list-style-image: url(../images/cross.svg);
        padding-left: 0.5rem;
    }

.card--premium {
    border: 2px solid #d3d3d3;
    padding: 0;
    overflow: hidden;
    min-width: 23rem;

}

    .card--premium .figure__header {
        border-top: 5px solid var(--border-premium);
        background: linear-gradient(135deg, #3477c4, #9d4bbd);
        align-items: center;
        padding-bottom: 1.5rem;
    }

    .card--premium .figure__name {
        color: #ffff;
        text-align: center;
        font-size: 2.5em;
        letter-spacing: 0.1em;
        font-weight: 750;
        margin-top: 3.5rem;
        margin-bottom: 0;
    }

    .card--premium .figure__info {
        color: #ffff;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0;
    }

    .card--premium .figure__main__smaller {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.25rem 3rem;
        padding: 0.65em 0.5em;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: #bcbebe73;
        border-radius: 50rem
    }
        .card--premium .figure__main__smaller:hover {
            background-color: #f1f1f14f
    }

    .card--premium .figure__main {
        padding: 2rem;
    }

    .card--premium .figure__params--top {
    color: #000000;
    font-size: 1rem;
    padding-bottom: 1em;
    border-bottom: 1px solid #bbbbbbbe
    }
    .card--premium .figure__params--bottom {
    color: #000000;
    font-size: 1.10rem;
    }

    .card--premium .figure__footer {
        padding: 0rem 2rem;
        margin-bottom: 8rem;
    }

    .card--premium .button--more {
        font-size: 1.25rem;
        font-weight: 600;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: linear-gradient(135deg, #3477c4, #9d4bbd);
        border-radius: 1rem ;
        padding: 0.8em 1em;
    }

    .card--premium .button--more:hover {
    background: linear-gradient(135deg, #5486be, #9664aa);
    }

.card--business {
    border: 3px solid var(--business);
    padding: 0;
    overflow: hidden;
    min-width: 23rem;
}

    .card--business .figure__name {
        color: var(--business);
        text-align: center;
        font-size: 2.5em;
        font-weight: 750;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .card--business .figure__info {
        color: var(--text);
        text-align: center;
        font-size: 1.15rem;
        font-weight: 350;
        margin-bottom: 0;
        
    }

    .card--business .figure__main {
        margin-top: 2.5rem;
        background: linear-gradient(135deg, #4ee7ad, #12a36c);
        border-top: 3px solid var(--business)
    }

    .card--business .figure__main__price {
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: #ffff;
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .card--business .fiigure__main__monthly {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        margin-top: 0.5rem;
        padding-bottom: 2rem;
    }

    .card--business .figure__footer {
        padding-bottom: 10rem;
    }

    .card--business .figure__footer__info {
        text-align: center;
        margin-top: 2.5rem;
        font-style: italic;
        font-weight: 350;
        margin-bottom: 0;
    }

    .card--business .button--more {
        font-size: 1.25rem;
        font-weight: 600;
        color: #ffff;
        text-decoration: none;
        text-align: center;
        background: linear-gradient(135deg, #4ee7ad, #12a36c);
        border-radius: 50rem;
        margin: 2.5rem;
        margin-top: 1.75rem;
        padding: 0.75em;
    }
    .card--business .button--more:hover {
        background: linear-gradient(135deg, #6cc9a5, #40a17c);
    }

.card--zero {
    margin: 1em;
    padding: 0;
    background: linear-gradient(45deg, #303035, #181b27);
    max-width: 23.15rem;
}
    .card--zero .figure__header {
        text-align: center;
        margin-top: 2.5rem;
        padding-bottom: 3rem;
        border-bottom: 3px solid #585858;
    }

    .card--zero .figure__name {
        font-size: 2.25rem;
        font-weight: 250;
        color:#a3a3a3;
        margin: 0;
    }

    .card--zero .figure__info {
        font-size: 1rem;
        font-weight: 350;
        color:#757575;
        padding-top: 1em;
        margin: 0;
    }
    .card--zero .figure__main {
        padding: 2rem
    }
    .card--zero .figure__main__price {
        margin-top: 2rem;
        margin-bottom: 6rem;
        color: var(--zero);
        font-size: 4.5rem;
        font-weight: 250;
        letter-spacing: 0.1;
        text-align: center;
         text-shadow: 0 0 25px rgba(0, 255, 150, 0.8);
    }
        .card--zero .figure__main__price:hover {
         text-shadow: 0 0 50px rgba(0, 255, 150, 1);
    }

    .card--zero .figure__params {
        color: #e2e2e2;
        line-height: 1.5;
    }

    .card-zero .figure__footer {
        padding-bottom: 2rem;
    }

    .card--zero .button--more {
        margin: 0 2rem 2rem;
        padding: 1em 4em;
        border: 3px solid var(--zero);
        text-decoration: none;
        color: var(--zero);
        font-weight: 750;
    }
        .card--zero .button--more:hover {
        text-shadow: 0 0 25px rgba(0, 255, 150, 0.8);
        box-shadow: 0 0 15px rgba(0, 255, 150, 0.4);
    }

.card--profi {
    overflow: hidden;
    margin: 1em;
    padding: 0rem;
    border: 2px solid #d3d3d3;
    width: 23.15rem;
}
    .card--profi .figure__header {
        background-color: #fdf4ea;
        text-align: center;
        padding-bottom: 3.5rem;
    }

    .card--profi .figure__name {
        display: inline-block;
        margin: 0;
        margin-top: 3rem;
        padding: 0.75rem 1rem;
        border-radius: 50rem;
        color: #c2410c;
        background-color: #fed7aa;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 0.05rem;
    }
    
    .card--profi .figure__info {
        margin: 0;
        margin-top: 0.85rem;
        padding: 0.75rem 1rem;
        font-weight: 700;
        font-size: 2.5rem;
        color: #1f1f1f;
    }

    .card--profi .figure__price {
        display: inline-block;
        margin: 0;
        margin-top: 1rem;
        padding: 1.75rem 3rem;
        border-radius: 1rem;
        color: #ffffff;
        background-color: #f46a13;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.05rem;
    }
    .card--profi .figure__price:hover {
    background-color: #d66016;
    }

    .card--profi .figure__list__check {
        list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M2 9 L6 13 L14 5" stroke="orange" stroke-width="2" fill="none"/></svg>');
    }

    .card--profi .figure__main {
        padding: 1rem;
        text-align: center;
    }

    .card--profi .figure__list{
        margin-top: 2rem;
        text-align: left;
    }

    .card--profi .figure__list__check {
        line-height: 3rem;
        color: #202020;
        font-size: 1.15rem;
    }

    .card--profi .figure__footer {
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 4rem;
    }

    .card--profi .button--more {
        padding: 1rem 6rem;
        color: #f56a13;
        text-decoration: none;
        font-weight: 750;
        border: 3px solid #f66e14;
        border-radius: 0.7rem;
    }
    .card--profi .button--more:hover {
        background-color: #f0f0f0
    }

.card--exe {
    margin: 1em;
    padding: 1rem;
    background: linear-gradient(135deg, #8a5bf5, #8145f0);
    position: relative;
    width: 21.15rem;
}
.card--exe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 37%;
    width: 27%;
    border-top: 6px solid #ffffff;
    border-radius: 1rem;
}

    .card--exe .figure__header {
        padding: 1rem
    }

    .card--exe .figure__name {
        font-size: 3rem;
        margin: 2rem 0rem 1rem 0rem;
        text-align: center;
        color: #ffff;
        font-weight: 750;
    }

    .card--exe .figure__info {
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
        color: #ffff;
        font-weight: 400;        
    }

    .card--exe .figure__main {
        margin-top: 1rem
    }

    .card--exe .figure__box {
        background-color: #9370e6;
        border-radius: 1rem;
        padding: 4rem 0rem 1.5rem 0rem;
        margin: 0rem 0.5rem 0rem;
    }
    .card--exe .figure__box:hover {
    background-color: #9878e4;
    }

    .card--exe .figure__price {
        font-size: 3.5rem;
        font-weight: 800;
        text-align: center;
        color: #ffff;
        margin: 0;
    }

    .card--exe .figure__main__smaller {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: #ebebeb;
        margin-top: 1rem;   
    }

    .card--exe .figure__footer {
        margin: 1rem;
    }

    .card--exe .figure__list{
        list-style: none;
        margin: 1.5 0 0 1.5rem;
        padding-left: 1rem;
    }

    .card--exe .figure__list__check {
        color: #ffff;
        line-height: 3rem
    }

    .card--exe .button--more {
        color: #8b5cf6;
        background-color: #ffff;
        padding: 1rem 3rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
    }
        .card--exe .button--more:hover {
        background-color: #dbdbdb;
        color: #7b4de4;
    }

.card--enter {
    margin: 1rem;
    padding: 0;
    border-radius: 1rem;
    border-left: 7px solid #eb3d3d;
    overflow: hidden;
    width: 22.8rem;
}

    .card--enter .figure__header{
        background-color: #fff2f2;
        padding: 0 0 3rem 0;
    }

    .card--enter .figure__name {
        margin: 0;
        color: #ea3d3d;
        font-size: 2.25rem;
        font-weight: 750;
        padding: 3rem 0 0 1.5rem;
    }

    .card--enter .figure__info {
        margin: 1rem 0 0 1.5rem;
        color: #4b4b4b;
        font-size: 1rem;
        font-weight: 400;   
    }

    .card--enter .figure__main {
        padding: 1rem
    }

    .card--enter .figure__box {
        background: linear-gradient(135deg, #e64343, #b40606);
        border-radius: 1rem;
        padding: 1rem 3rem;
    }
    .card--enter .figure__box:hover {
        background: linear-gradient(135deg, #e25b5b, #e01717);
        color: #e6e6e6;
    }

    .card--enter .figure__main__smaller {
        color: #ffff;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }

    .card--enter .figure__price {
        color: #ffff;
        font-size: 3rem;
        font-weight: 750;
        text-align: center;
        margin: 0;
        margin: 1.5rem 0 1rem 0;
    }

    .card--enter .figure__important {
        text-align: center;
        display: block;
    }

    .card--enter .figure__main__monthly {
    display: inline-block;
    padding: 1rem 2rem;
    width: 25%;
    background-color: #f9fafb;
    border-radius: 0.5rem;
    margin: 3rem 0.5rem 0rem 0.5rem;
    color: #555555;
    }
    .card--enter .figure__main__monthly:hover {
    background-color: #e9e9e9;
    color: #3a3a3a;
    }

    .card--enter .figure__infinity {
        font-size: 2rem;
        color: #000000;
    }

    .card--enter .figure__footer {
        padding-bottom: 8.5rem;
    }

    .card--enter .button--more {
        padding: 1rem 3rem;
        background: linear-gradient(135deg, #e64343, #b40606);
        color: #ffff;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        margin: 1rem 1.5rem;
    }
    .card--enter .button--more:hover {
    background: linear-gradient(135deg, #e25b5b, #e01717);
    color: #e6e6e6;
    }

.card--starter {
    margin: 1rem;
    padding: 0;
    border: 2px solid #d3d3d3;
    overflow: hidden;
    width: 23rem;   
}

    .card--starter .figure__header {
        margin-top: 1rem;
        padding: 2rem;
        padding-bottom: 1rem;
    }

    .card--starter .figure__lightning {
        background-color: #10a798; 
        padding: 1rem;
        border-radius: 1rem;
        font-size: 2.5rem;
    }
    .card--starter .figure__lightning:hover {
    background-color: #108f82; 

    }

    .card--starter .figure__name {
        font-size: 2.25rem;
        font-weight: 750;
        color: #000000;
        margin: 0;
        margin-top: 3rem;
    }

    .card--starter .figure__info {
        line-height: 2rem;
    }

    .card--starter .figure__box {
        margin-top: 1rem;
        background: linear-gradient(135deg, #45beb2, #0d9688);
        padding: 2rem 2rem;
        overflow: hidden;
        height: auto;
    }

    .card--starter .figure__main__smaller {
        float: left;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        margin: 0;
        line-height: 2rem;
    }

    .card--starter .figure__price {
        float: right;
        font-size: 2rem;
        font-weight: 650;
        color: #fff;
        margin: 0;
        line-height: 2rem;
    }

    .card--starter .figure__plan {
       text-align: center;
       font-size: 0;
       margin: 1.5rem;
       box-sizing: border-box;
    }

    .card--starter .figure__main__monthly {
       display: inline-block;
       font-size: 1rem;
       margin: 0.5rem;
       padding: 1rem;
       background-color: #f0fdfa;
       text-align: center;
       width: calc(50% - 1rem);
       border-radius: 0.5rem;
       box-sizing: border-box;
       vertical-align: middle;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }
    .card--starter .figure__main__monthly:hover {
       background-color: #d9eee9;
    }

    .card--starter .figure__footer {
        padding-bottom: 3rem;
    }

    .card--starter .button--more {
        border: 3px solid #10a798;
        border-radius: 20rem;
        margin: 2rem;
        text-decoration: none;
        color: #10a798;
        font-size: 1rem;
        padding: 1rem 2rem;
        font-weight: 700;
    }
    .card--starter .button--more:hover {
    background-color: #ebebeb
    }

.card--creative {
    margin: 1rem;
    padding: 0;
    overflow: hidden;
    width: 23rem;
    background: linear-gradient(135deg, #fce6f3, #fbcfe8);
}

    .card--creative .figure__header {
        margin: 3rem;
        text-align: center;
    }

    .card--creative .figure__name {
        color: #e92785;
        font-size: 2.75rem;
        font-weight: 800;
        margin: 0;
    }

    .card--creative .figure__info {
        color: #831843;
        margin: 1.5rem 0 0 0;
    }

    .card--creative .figure__main {
        margin: 2rem;
        text-align: center;
    }

    .card--creative .figure__box {
        background-color: #e92785;
        border-radius: 50%;
        display: inline-block;
        width: 12rem;
        height: 12rem;
        position: relative;
        text-align: center;
        margin: 0;
        box-shadow: 0px 5px 20px #aa1e56;
    }
    .card--creative .figure__box:hover {
        background-color: #d61c76;
        box-shadow: 0px 5px 50px #aa1e56;
    }

    .card--creative .figure__price,
    .card--creative .figure__main__smaller {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        width: 90%;
    }

    .card--creative .figure__price {
        top: 30%;
        font-size: 2.75rem;
        font-weight: 700;
        color: #fff;
    }

    .card--creative .figure__main__smaller {
        top: 60%;
        font-size: 1rem;
        font-weight: 350;
        color: #fff;
    }

    .card--creative .figure__list {
        list-style: none;
        padding: 1rem 0 0 0;
        text-align: center
    }

    .card--creative .figure__list__check {
    line-height: 3.25em;
    color: #831843;
    }

    .card--creative .button--more {
        border-radius: 20rem;
        margin: 2rem;
        text-decoration: none;
        color: #ffffff;
        background-color: #e92785;
        font-size: 1rem;
        padding: 1rem 2rem;
        font-weight: 700;
    }
    .card--creative .button--more:hover {
        background-color: #ca1b70;
    }
};








